@import "style.less";

@gradient-start: #e5e5e5;
@gradient-stop: #ffffff;
@text-color:#A6D785;
@gray0-nav:#AAA;
@gray1-nav-li:#EEE;
@button-yes-grad-start:#8DD297;
@button-yes-grad-stop:#398525;
@button-yes-border:#5ea617;
@button-no-grad-start:#CC3232;
@button-no-grad-stop:#A52A2A;
@button-no-border:#8E2323;