@import "elements.less";

@mobile-default-size:805px;

@font-face {
  font-family: 'Yanone Kaffeesatz';
  font-style: normal;
  font-weight: 400;
  src: local('Yanone Kaffeesatz Regular'), local('YanoneKaffeesatz-Regular'), url(http://themes.googleusercontent.com/static/fonts/yanonekaffeesatz/v4/YDAoLskQQ5MOAgvHUQCcLRTHiN2BPBirwIkMLKUspj4.woff) format('woff');
}
@font-face {
  font-family: 'Yanone Kaffeesatz';
  font-style: normal;
  font-weight: 700;
  src: local('Yanone Kaffeesatz Bold'), local('YanoneKaffeesatz-Bold'), url(http://themes.googleusercontent.com/static/fonts/yanonekaffeesatz/v4/We_iSDqttE3etzfdfhuPRWwXwFHHZlCwprwJOQ-Se7k.woff) format('woff');
}

body {
    .gradient(@gradient-start, @gradient-stop, @gradient-start);
    font-family: 'Yanone Kaffeesatz', sans-serif;
    height:100%;
    min-height:1024px;
    
    @media all and (max-device-width: @mobile-default-size) {
        font-size:1.5em;
    }
}

header {
    @media all and (min-device-width: 485px) {
        height: 5em;
        margin: -10px;
        padding-top:2px;
    }
    .box-shadow(1px 1px 5px #222);
    h1 {
        text-align:center;
        font-size:2.5em;
        color:@text-color;
        font-weight:bold;
        .text-shadow(1px 1px 1px #fff);
    }
}

nav {
    width:100%;
    background-color:@gray0-nav;
    @media all and (min-device-width: @mobile-default-size) {
        margin-top: -15px;
        height: 3em;
    }
    .border-radius(0, 5px, 5px, 0);
    .box-inner-shadow(1px 1px 5px #222);
    
    ul {
        li {
            list-style-type:none;
             @media all and (min-device-width: @mobile-default-size) {
                margin-left:1em;
                margin-top:0.15em;
                height:1.5em;
                display:inline-block;
                padding-left:0.5em;
                padding-right:0.5em;
                padding-top:0.60em;
                font-size:1.2em;
             }
             @media all and (max-device-width: @mobile-default-size) {
                margin-left: -40px;
                height:3em;
                font-size:1.7em;
             }
            background-color:@gray1-nav-li;
            
            opacity:0.75;
            
            .text-shadow(1px 1px 0.1em #fff);
            .border-radius(2px,2px,2px, 2px);
             
            &:hover, &.selected {
                opacity:1;
                background-color:@text-color;
                .box-shadow(1px 1px 5px #222);
                .transition();
            }
            
            &:hover {
                @media all and (min-device-width: @mobile-default-size) {
                    .transform(scale(1.2));
                }
            }
        }
    }
}
button {
    font-size:0.4em;
    width: 4em; 
    height: 2em; 
    padding: 5px;
    margin: 0 auto;
    box-shadow: 0px 0px 1px #fff;
    -webkit-box-shadow: 0px 0px 1px #fff;
	border-radius: 5px;
	text-transform: uppercase; 
    text-decoration: none;
    font-weight:bold;
	.transition();
}

button.yes {
    border: 1px solid @button-yes-border;
	background: @button-yes-grad-stop; /* old browsers */
	background: -moz-linear-gradient(top, @button-yes-grad-start 0%, @button-yes-grad-stop 100%); /* firefox */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,@button-yes-grad-start), color-stop(100%,@button-yes-grad-stop)); /* webkit */	
}

button.yes:hover {
    .box-shadow(1px 1px 5px #222);
    .transition();
}

button.no {
    border: 1px solid @button-no-border;
    background: @button-no-grad-stop; /* old browsers */
	background: -moz-linear-gradient(top, @button-no-grad-start 0%, @button-no-grad-stop 100%); /* firefox */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,@button-no-grad-start), color-stop(100%,@button-no-grad-stop)); /* webkit */	
}

button.no:hover {
    .box-shadow(1px 1px 5px #222);
    .transition();
}

#checkList {
    list-style:none;
    width:100%;
    text-align:center;
    font-size:2em;
    margin-left: -40px;
}

#canYouCommit {
    font-size:6em;
    text-align:center;
    .text-shadow(2px 2px 2px #fff);
}